.projectGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    padding: 3vw 1.5vw 0 1.5vw;
    .projectContainer{
        grid-column: 1 / 5;
        background-color: #000000a4;;
        border-radius: 1vw;
        border: none;
        position: relative;
        // padding-top: 3vw;
        box-shadow: inset 0 0 2vw 0 #fff;
        &:hover{
            transform: scale(0.99);
            transition: 0.5s;
        }
        p{
            z-index: 2;
            position: absolute;
            top: -1vw;
            left: 42%;
            color: #fff;
            text-decoration: overline;
            font-size: 3vw;
            font-weight: bold;
            text-transform: uppercase;
        }
        .nextPro{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            cursor: pointer;
            z-index: 2;
            font-size: 4vw;
            background-color: transparent;
            border: none;
            color: rgba(154, 154, 154, 0.481);
            right: 0;
            top: 50%;
            &:hover{
                color: #fff;
                transition: 0.5s;
                transform: scale(1.1);
            }
        }
        .prevPro{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            cursor: pointer;
            z-index: 2;
            font-size: 4vw;
            background-color: transparent;
            border: none;
            color: rgba(154, 154, 154, 0.481);
            left: 0;
            top: 50%;
            &:hover{
                color: #fff;
                transition: 0.5s;
                transform: scale(1.1);
            }
        }
        .projectBody{
            display: flex;
            position: relative;
            padding-top: 1.5vw;
            align-items: center;
            justify-content: center;
            gap: 10vw;
            // overflow: hidden;
            height: 95%;
            div:nth-of-type(1){
                margin-left: -180vw;
            }
            .project{
                display: flex;
                position: relative;
                // background-color: aqua;
                img{
                    border-radius: 0.5vw;
                    width: 80vw;
                    height: 40vw;
                    margin-top: 5vw;
                    margin-bottom: 2vw;
                }
                .gitHubPro{
                    top: 1vw;
                    right: 10vw;
                    position: absolute;
                    background-color: transparent;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    z-index: 2;
                    justify-content: center;
                    align-items: center;
                    svg{
                        font-size: 3vw;
                        color: #fff;
                        &:hover{
                            color: #eae2b7 ;
                            transform: scale(1.1);
                        }
                    }
                }
                .webPro{
                    top: 1vw;
                    right: 0vw;
                    position:absolute;
                    background-color: transparent;
                    border: none;
                    z-index: 2;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        font-size: 3vw;
                        color: #fff;
                        &:hover{
                            color: #eae2b7 ;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}