
.skills{
    overflow: hidden;
    margin-top: -0.1vw;
    background-image: radial-gradient(circle, #0b525b, #0c4c59, #104556, #163f52, #1b384d, #1e354c, #21314a, #252d48, #2a2b4a, #30274a, #372449, #3e1f47);
    .skillsTitle{
        background-image: radial-gradient(circle, #03071e, #0c0317, #0e000e, #0a0005, #000000);
        width: 100vw;
        position: relative;
        border: none;
        display: flex;
        align-items: center;
        gap: 2vw;
        // border-top-right-radius: 1vw;
        padding-top: 0.5vw;
        button{
            border: none;
            background-color: transparent;
            text-transform: uppercase;
            font-style: italic;
            font-size: 1.4vw;
            font-family: 'Prompt', sans-serif;
            color: white;
            cursor: pointer;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            &:nth-of-type(1){
                &:focus{
                    border-bottom: #00ff62 solid 0.2vw;
                }
                &:hover{
                    border-bottom: #00ff62 solid 0.2vw;
                }
            }
            &:nth-of-type(2){
                &:focus{
                    border-bottom: #00ff62 solid 0.2vw;
                }
                &:hover{
                    border-bottom: #00ff62 solid 0.2vw;
                }
            }
            &:nth-of-type(3){
                &:focus{
                    border-bottom: #00ff62 solid 0.2vw;
                }
                &:hover{
                    border-bottom: #00ff62 solid 0.2vw;
                }
            }
        }
    }
}
.swiper-horizontal {
    .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
        top: auto;
        height: 0.4vw;
        bottom: 0;
    }
}
.swiper:nth-of-type(1){
    position: relative;
    user-select: none;
    height: 30vw;
    background-image: radial-gradient(circle, #0b525b, #0c4c59, #104556, #163f52, #1b384d, #1e354c, #21314a, #252d48, #2a2b4a, #30274a, #372449, #3e1f47);
    .swiper-slide{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
        background: #17e0e5;
    }
}
