.skillsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    padding: 3vw 1.5vw 1.5vw 1.5vw;
    .skillsContainer{
        box-shadow: inset 0 0 2vw 0 #fff;
        grid-column: 1 / 5;
        background-color: #000000a4;
        position: relative;
        padding: 3vw;
        padding-top: 0vw;
        border-radius: 1vw;
        border: none;
        &:hover{
            transform: scale(0.99);
            transition: 0.5s;
        }
        p{
            z-index: 2;
            position: relative;
            top: -1vw;
            color: #fff;
            text-decoration: overline;
            font-size: 3vw;
            font-weight: bold;
            text-transform: uppercase;
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            cursor: pointer;
            z-index: 2;
            font-size: 4vw;
            background-color: transparent;
            border: none;
            color: rgba(154, 154, 154, 0.397);
            &:hover{
                color: #fff;
                transition: 0.5s;
                transform: scale(1.1);
            }
            &:nth-of-type(1){
                top: calc(50%);
                left: 1vw;
            }
            &:nth-of-type(2){
                top: calc(50%);
                right: 1vw;
            }
        }
        .skillsBody{
            display: flex;
            flex-direction: row;
            overflow: hidden;
            gap: 3vw;
            .skillCard:nth-of-type(1){
                margin-left: -46vw;
                background-color: aqua;
            }
        }

    }
}